@model PaymentGateway.Models.Payment
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<style>
    body {
        background-color: #f8f9fa;
    }

    .payment-form {
        background-color: #ffffff;
        border-radius: 10px;
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
        padding: 30px;
        max-width: 400px;
        margin: 50px auto;
    }

    .btn-custom {
        background-color: #007bff;
        color: white;
    }

        .btn-custom:hover {
            background-color: #0056b3;
        }
</style>
<div class="payment-form">
    <h3 class="text-center">Payment Information</h3>
    <h5 class="text-center">(RazorPay Payment Gateway)</h5>
    <form id="payment-form" asp-controller="RazorPay" asp-action="Index">
        <input type="text" class="form-control mb-3" id="name" asp-for="Name" placeholder="Guruji Gyan" required>
        <input type="email" class="form-control mb-3" id="email" asp-for="Email" placeholder="example.work@gmail.com" required>
        <input type="text" class="form-control mb-3" id="mobile" asp-for="Mobile" placeholder="+91-0000000000" required>
        <input type="text" class="form-control mb-3" id="amount" asp-for="Amount" placeholder="100.00" required>
        <div id="card-element"></div>
        <button type="button" id="btnpay" class="btn btn-custom btn-block">Pay</button>
    </form>
</div>

<script>
    //in new update, order id need to generate from razorpay api then pass into here for getting order id and signature
    var options = '';
    document.getElementById("btnpay").addEventListener("click", function () {
        options = {
            "key": "@ViewBag.RazorpayKey",
            "amount": (parseInt(document.getElementById('amount').value) * 100),//for paisa
            "currency": "INR",
            "name": "Your Company Name",
            "description": "Demo Transaction",
            "image": "/images/your-logo.png",
            // "order_id": "@ViewBag.OrderId",
            "handler": function (response) {
                // window.location.href = '/RazorPay/PaymentSuccess?razorpay_payment_id=' + response.razorpay_payment_id + '&razorpay_order_id=' + response.razorpay_order_id + '&razorpay_signature=' + response.razorpay_signature;
                window.location.href = '/RazorPay/PaymentSuccess?razorpay_payment_id=' + response.razorpay_payment_id;
            },
            "prefill": {
                "name": document.getElementById('name').value,
                "email": document.getElementById('email').value,
                "contact": document.getElementById('mobile').value
            },
            "theme": {
                "color": "#3399cc"
            }
        };
        var rzp1 = new Razorpay(options);
        rzp1.open();
        e.preventDefault();
    });
</script>

